<web-app>
    <servlet>
		<servlet-name>getInfo</servlet-name>
		<servlet-class>getInfo</servlet-class>

        <init-param>
            <param-name>email</param-name>
            <param-value>bitf20m510@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>id</param-name>
            <param-value>bitf20m510</param-value>
        </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>getInfo</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>

    <context-param>
        <param-name>websiteName</param-name>
        <param-value>0xnull007</param-value>
    </context-param>
	
</web-app>